<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitey</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Libre+Baskerville&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/styles.css">
    
</head>
<header>
    <div class="navbar">
        <div class="logo">
            <img src="assets/logo.svg" alt="tape measure logo" height="50" class="logo1">
            <h1 class="title">Sitey</h1>
        </div>
        <div class="navcont">
            <div class="navdiv">
                <a class="navs" href="/">
                    Today
                </a>
            </div>
            <% if (locals.projects) { %>
                <% projects.forEach(project => { %>
                    <div class="navdiv">
                        <a class="navs" href="/">
                            <%= project.name %>
                        </a>
                    </div>
            <% }) %>
            <%}%>  
        </div>

    </div>
</header>
</html>