* {
    font-family: "Courier Prime", monospace;
}
body {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100%;
}
header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: #12372A;
    padding: 0;
    margin: 0 0 10px 0;
}
.logo {
    display: flex
}
.logo1 {
    margin: 5px 10px;
}
h1 {
    font-size: 50px;
    margin: 5px;
    color: #FBFADA;
}
.container {
    margin-top: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navcont {
    display: flex;
    align-items: center;
    padding: 0;
}
.navdiv {
    height: 35px;
    font-size: 20px;
    padding: 0 10px;
    margin: 0 10px;
    color: #FBFADA;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.navs {
    text-decoration: none;
    color:#FBFADA;
}
.navs:hover {
    color:#12372A
}
.navdiv:hover {
    background-color: #ADBC9F;
    color:#12372A;
}
h2 {
    color: #FBFADA;
    margin: 10px 20px 10px 0;
}
.projcont {
    background-color: #12372A;
    border-radius: 10px;
    width: 100%;
    padding: 5px 20px;
    margin-top: 10px;
}
.taskcont{
    border-radius: 7px;
    background-color: #ADBC9F; 
    padding: 5px;
}
.taskbar {
    /* border: 2px black solid; */
    margin: 5px 0;
    padding: 2px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #FBFADA;
    border-radius: 10px;
}
.descbar {
    width: 85%;
    display: flex;
    align-items: center;
}
p {
    margin: 0;
}
h4 {
    margin: 0;
}
   
.checkboxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
}
.checkbox {
    text-decoration: none;
    color: #12372A;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30%;
}
.do {
    background-color: #ADBC9F;
}
.kill {
    background-color: rgb(244, 89, 89);
}
